@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<div class="stats">
    @Html.Action("Weight")
</div>
@*<div class="stats">
    @Html.Action("Max")
</div>
<div class="stats">
    @Html.Action("Workouts")
</div>
<div class="stats">

</div>*@