@model BLL.StatsFM

@{
    ViewBag.Title = "Pushup Max";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:15px;">
    <h2>Pushup Max</h2>

    @ViewBag.ErrorMessage

    @using (Html.BeginForm("UpdatePushupMax", "Stats", FormMethod.Post))
    {
        <div class="formField">
            <div class="formContents">
                Weight:
            </div>
            <div class="formContents">
                @Html.TextBoxFor(m => m.PushupMax, new { @placeholder = "Pushup Max" })
            </div>
        </div>
        <div class="formField">
            <div class="formContents">
                Date
            </div>
            <div class="formContents">
                @Html.TextBoxFor(m => m.Date, new { @placeholder = @DateTime.Now.ToString("D") })
            </div>
        </div>
        <div class="formField">
            <input type="submit" value="Update Pushup Max" />
        </div>
    }
</div>