html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: lightcyan;
}

.navBar {
    background-color: black;
    width: 100%;
    height: 15%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.logo {
    display: inline;
    float: left;
    background-image: url("/Images/logo.jpg");
    background-size: contain;
    min-height: 100%;
    min-width: 20%;
    background-repeat: no-repeat;
}

.navBarItems {
    display: inline;
    float: left;
    min-width: 80%;
}

.body {
    background-image: url("/Images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 85%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.formContents {
    display: inline;
    float: left;
    width: 100px;
    margin: 5px;
}

.formField {
    clear: both;
}

table {
    min-width: 100%;
    min-height: 100%;
}

.day {
    width: 14%;
    height: 15%;
    min-width: 14%;
    min-height: 15%;
    max-width: 14%;
    max-height: 15%;
    border: 1px solid black;
    background-color: black;
    opacity: .7;
    text-align: start;
    overflow: hidden;
}

.red {
    color: red;
}

/*#region StatGraphes */
.graph {
    position: absolute;
    height: 45%;
    width: 45%;
    border: 1px solid black;
    background-color: aqua;
    opacity: .7;
    overflow: hidden;
    color: green;
}

#graphOne {
    top: 2.5%;
    left: 2.5%;
}

#graphTwo {
    top: 2.5%;
    left: 52.5%;
}

#graphThree {
    top: 52.5%;
    left: 2.5%;
}

#graphFour {
    top: 52.5%;
    left: 52.5%;
}

.graphTitle {
    position: absolute;
    height: 10%;
    width: 100%;
    top: -8%;
    text-align: center;
    opacity: 1;
}

.statsUpdate {
    width: 95%;
    text-align: right;
    top: 0%;
}

.leftSideGraph {
    position: absolute;
    height: 80%;
    width: 8%;
    top: 10%;
    opacity: 1;
    text-align: right;
}

.leftSideContents {
    position: relative;
    height: 10%;
}

.graphContainer {
    position: absolute;
    height: 80%;
    width: 85%;
    top: 10%;
    left: 10%;
    opacity: 1;
    border: 1px solid black;
}

.graphBottom {
    position: absolute;
    height: 10%;
    width: 90%;
    top: 90%;
    left: 10%;
    opacity: 1;
}

.columnName {
    position: relative;
    display: inline;
    float: left;
    width: 8%;
    margin-left: 2%;
}

.graphBar {
    position: relative;
    display: inline;
    float: left;
    background-color: green;
    color: black;
    width: 8%;
    margin-left: 2%;
}

.barValues {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-weight: 700;
}
/*#endregion */
