@model BLL.WorkoutFM

@{
    ViewBag.Title = "Add Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Workout to @Model.PlanDate.ToString("D")</h2>

<p>Need to add form for adding a workout.</p>