@model DateTime

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th colspan="7">
                Workout Planner
            </th>
        </tr>
        <tr>
            <th colspan="7">
                @Model.ToString("y")
            </th>
        </tr>
        <tr>
            <th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    <td>@Model.AddDays(i*7 + j).Day</td>
                }
            </tr>
        }
    </tbody>
</table>