@model BLL.UserFM

<div style="float: right; padding: 5px;">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    }
</div>