@model BLL.UserFM

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="formContents">
        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
    </div>
    <div class="formContents">
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
    </div>
    <div class="formContents">
        <input type="submit" value="Login" />
    </div>

}