<div class="logo navBarItems">
    @*Add Logo Here*@
</div>

<div class="navBarItems" style="min-width: 80%;">
    @if (Session["UserID"] == null)
{
    <div>
        @Html.Partial("_Login")
    </div>
}
else
{
        <div class="navBarItems">
            @*Place Links to different pages.  Ex. Stats, Meals, Workout, etc.*@
        </div>
    }
</div>