<div class="logo">
    @*Add Logo Here*@
</div>

<div class="navBarItems" style="min-width: 80%;">
    @if (Session["UserID"] == null)
    {
        <div style="float: right; padding: 5px;">
            @Html.Action("Login", "Account", null)
        </div>
    }
    else
    {
        @*Place Links to different pages.  Ex. Stats, Meals, Workout, etc.*@
        <div style="float: right; padding: 5px;">
            @Html.ActionLink("Logout", "Logout", "Account", new { }, new { })
        </div>
    }
</div>
