@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<p>Welcome to your Fitness Tracker.</p>
<div>
    <a href=@Url.Action("Index", "WorkoutPlanner", new { })>
        <img src='~/Images/FitnessIcon.png' style="height:100px;" />
    </a>
</div>

@*Add links to pages.*@